section {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

.wrapper {
  overflow: hidden;
  width: 95%;
  margin: 60px auto;
}

.wrapper * {
  box-sizing: border-box;
}

.carousel {
  position: relative;
}

.carousel__img {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 0.5rem 3rem;
  z-index: 100;
  transition: transform 1s, opacity 0.5s, z-index 0.5s;
}

.carousel__img.start,
.carousel__img.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__img.prev,
.carousel__img.next {
  z-index: 800;
}

.carousel__img.prev {
  transform: translateX(-100%);
}

.carousel__img.next {
  transform: translateX(100%);
}

.carousel__btn--next,
.carousel__btn--prev {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background: whitesmoke;
  border: solid darkgray 1px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.5s ease;
}

.carousel__btn--next:hover,
.carousel__btn--prev:hover {
  background-color: darkgray;
}

.carousel__btn--next {
  right: 1rem;
}

.carousel__btn--prev {
  left: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.pagination__btn {
  margin-right: 0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  border: none;
  border-radius: 50%;
  background-color: whitesmoke;
  cursor: pointer;
  padding: 0;
  border: solid darkgray 1px;
  transition: background-color 0.5s ease;
  z-index: 999;
}

.pagination__btn:hover,
.pagination__btn.active {
  background-color: darkgray;
}
